/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #98c5f4;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.navbar-logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.sign-out-button {
    background-color: #d25555;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 60%;
    font-weight: 600;
}

.sign-out-button:hover {
    background-color: #106477;
}